{
    "extends": "zardoy",
    "rules": {
        // doesn't work correctly for TypeScript types
        "no-unused-vars": "off",
        // doesn't work correctly with just falsey values
        "@typescript-eslint/prefer-optional-chain": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/naming-convention": "off"
    }
}
