# Learn more about paths on https://github.com/github/gitignore/blob/master/Node.gitignore

*.tsbuildinfo
*.tgz
build

node_modules

generators
dist
out
.next
.nuxt
.cache

coverage
*.lcov
.nyc_output

logs
*.log
experiment-*
.DS_Store
.env.local
.env.*.local

.vscode-test

# changesets

extension-samples/*/CHANGELOG.md
integration-tests/fixtures/*/CHANGELOG.md

# vscode-framework
generated.ts
