name: Test changes
on:
  pull_request:
  push:
    branches:
      - next

jobs:
  test:
    strategy:
      matrix:
        node:
          #   - "12.20.0"
          - "14"
          - "16"
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    name: ${{matrix.platform}} / Node.js ${{matrix.node}}
    runs-on: ${{matrix.platform}}
    steps:
      - run: |
          git config --global core.autocrlf false
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node}}
      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: latest
          run_install: |
            args: [--frozen-lockfile, --strict-peer-dependencies]
      - run: pnpm build
      - run: pnpm test
  releasePr:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/next'
    steps:
      - uses: actions/checkout@master
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
      - uses: actions/setup-node@master
        with:
          node-version: 14.x
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: latest
          #   TODO! add back --strict-peer-dependencies
          run_install: |
            args: [--frozen-lockfile]
      - run: pnpm i -g tsm
      - run: tsm scripts/update-changeset-branch.ts next-pre
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release Pull Request
        uses: changesets/action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: tsm scripts/update-changeset-branch.ts next-post
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
